@charset "UTF-8";
/* ------HEADER------ */
.Header-Box1 {
  height: auto;
  padding: 25px;
  background-color: #112d50;
}

.Header-Box2 {
  height: auto;
  padding: 8px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.Header-Logo_PNP {
  width: 140px;
  height: 40px;
}

.Header-Enlace1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #0091ea;
}

/* ------FOOTER------ */
.Footer-Box1 {
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 25px 25px 15px 25px;
  display: table;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: #112d50;
  font-family: "Source Sans Pro", sans-serif;
}

.Footer-Box1 a {
  font-size: 1.5rem;
  color: #ffffff;
}

.Footer-Box1 p {
  float: right;
  text-align: right;
}

.Footer-Box1A {
  width: 100%;
  padding: 12px;
  border-bottom: solid 1px #5B616B;
}

.Footer-Box1B {
  width: 100%;
  padding: 12px;
}

.Footer-Logo_PNP {
  width: 200px;
}

.container {
  width: 100%;
  padding-bottom: 24px;
}

.progressbar {
  counter-reset: step;
}

.progressbar li {
  list-style: none;
  display: inline-block;
  width: 16%;
  position: relative;
  text-align: center;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #ddd;
  border-radius: 30%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 11px;
  background-color: #ddd;
  top: 11px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.preactive {
  color: green;
}

.progressbar li.preactive:before {
  border-color: green;
}

.progressbar li.preactive + li:after {
  background-color: green;
}

.progressbar li.active {
  color: green;
  font-weight: bold;
  text-decoration: underline;
}

.progressbar li.active:before {
  -webkit-box-shadow: inset 0 0 0 2px green;
          box-shadow: inset 0 0 0 2px green;
  border-color: green;
}

.progressbar li.active + li:after {
  background: -webkit-gradient(linear, left top, right top, from(green), color-stop(50%, #ddd));
  background: linear-gradient(to right, green, #ddd 50%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}

body {
  display: -ms-grid;
  display: grid;
  margin: 0px;
  min-height: 100vh;
  width: 100%;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
}

main {
  display: table;
  height: auto;
  table-layout: fixed;
  position: relative;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

.Bold {
  font-weight: bold;
}

.Padding-1 {
  padding: 12px;
}

.Padding-2 {
  padding: 24px;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* ------MAIN------ */
.contA {
  padding: 24px;
}

.contA__contB {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  padding: 24px;
  background-color: #ffffff;
}

.contA__contB__contTit {
  padding: 24px;
  text-align: center;
  font-family: "Merriweather";
  color: #112d50;
}

.contA__contB__contTit__titulo {
  font-size: 3rem;
  font-weight: normal;
}

.contA__contB__contTit__subtitulado {
  width: 80px;
  border-bottom: solid 1px #aeb0b5;
  margin: 0 auto;
  margin-top: 10px;
}

.contA__contB__contC {
  margin: 0 auto;
  max-width: 1400px;
  padding: 12px;
  border: 1px solid #cccccc;
}

.contA__contB__contC__parrafo {
  padding: 15px 5px;
  font-weight: bold;
  text-align: justify;
}

.contA__contB__contC__parrafo.center {
  text-align: center;
}

.contA__contB__contC2 {
  width: 100%;
  padding: 30px;
  display: table;
  table-layout: fixed;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #dce4ef;
}

.contA__contB__contC2__parrafo {
  margin: 20px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  overflow: hidden;
  display: block;
  outline: none;
  font-size: 2.6rem;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
  color: #112d50;
}

.imgEscudo {
  min-width: 250px;
  width: 10%;
  outline: none;
  border: 0px;
  text-align: center;
}

.contenedorBotones {
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boton {
  width: 100%;
  max-width: 250px;
  padding: 11px 16px;
  margin: 2px;
  border-radius: 5px;
  border-style: none;
  background-color: #0071bc;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.boton:hover {
  background-color: #168fdf;
}

.boton:disabled {
  background-color: #aeb0b5;
  cursor: auto;
}

.boton.B {
  background-color: #205493;
  max-width: 400px;
  height: 44px;
  margin: 30px 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.Boton {
  width: 100%;
  max-width: 400px;
  padding: 11px 16px;
  margin: 5px 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-style: none;
  background-color: #0071bc;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  display: block;
  text-align: center;
}

.Boton:hover {
  background-color: #168fdf;
}

.Boton:disabled {
  background-color: #aeb0b5;
  cursor: auto;
}

.Boton.B {
  background-color: #205493;
  max-width: 400px;
  height: 44px;
  margin: 30px 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.Bx-11 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.Controls {
  padding: 10px;
  border: 1px solid #5b616b;
  border-radius: 4px;
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
}

.Controls.B {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
}

.Label-1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.inputA {
  padding: 10px;
  border: 1px solid #5b616b;
  border-radius: 4px;
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contPestañas {
  min-height: 350px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.contPestañas__cabeceras {
  overflow: hidden;
}

.contPestañas__cabeceras__pestaña {
  background-color: #0071bc;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 11px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
  margin-right: 1px;
}

.contPestañas__cabeceras__pestaña:hover {
  background-color: #168fdf;
}

.contPestañas__cabeceras__pestaña.activo {
  background-color: #168fdf;
}

.contPestañas__contenido {
  display: none;
  padding: 12px;
  border: 1px solid #cccccc;
  background-color: #dce4ef;
  border-radius: 0px 5px 5px 5px;
}

.contPestañas__contenido p {
  text-align: justify;
}

.contCheck {
  padding: 12px;
  text-align: center;
}

.contCheck label {
  font-weight: bold;
}

.contDatGen {
  max-width: 1100px;
  margin: 0 auto;
}

.contDatGen__formA {
  padding: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 200px;
      grid-template-columns: 1fr 1fr 200px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.contDatGen__formA__contA {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  -webkit-column-gap: 2px;
          column-gap: 2px;
}

.contDatGen__mensaje {
  padding: 12px;
  text-align: center;
}

.contDatGen__formB {
  max-width: 700px;
  margin: 0 auto;
  padding: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
      grid-template-columns: 1fr 200px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.contDatGen__formB__contA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.contenedorDatosDomicilio {
  max-width: 1000px;
  margin: 0 auto;
}

.contenedorDatosDomicilio__Grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  padding: 12px;
  row-gap: 10px;
}

.contenedorDatosHecho h2 {
  border-radius: 15px;
  font-weight: normal;
  padding: 5px;
  text-align: center;
  font-size: 2.1rem;
  background-color: #dce4ef;
}

.contenedorDatosHecho__Grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 15px;
  padding: 12px;
}

.contenedorDatosHecho__Grid div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.contenedorDocumentosPerdidos__Grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 4fr 1fr;
      grid-template-columns: 4fr 4fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 12px;
}

.contenedorDocumentosPerdidos__Grid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedorDocumentosPerdidos__Grid div label {
  text-align: start;
}

.contenedorDocumentosPerdidos__Grid button {
  font-size: 40px;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  color: #0071bc;
  border: solid 1px #cccccc;
  background-color: #ffffff;
}

.contenedorDocumentosPerdidos__Grid button i {
  margin-left: 5px;
}

.contenedorDocumentosPerdidos__Registr {
  padding: 12px;
}

.contenedorDocumentosPerdidos__Registr h2 {
  padding: 5px;
  text-align: center;
}

.contenedorDocumentosPerdidos__Registr__Box {
  border: solid 1px #cccccc;
  padding: 10px;
  height: 200px;
  overflow: scroll;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 1fr;
      grid-template-columns: 2fr 2fr 1fr;
  grid-auto-rows: 40px;
}

.contenedorVistaPrevia__Grid1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr;
  margin: 10px;
}
/*# sourceMappingURL=style.css.map */