/* ------FOOTER------ */

.Footer-Box1 {
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 25px 25px 15px 25px;
  display: table;
  font-size: 1.3rem;
  color: $color-blanco;
  background-color: $color-prim;
  font-family: $fuente-primaria;

  a {
    font-size: 1.5rem;
    color: $color-blanco;
  }

  p {
    float: right;
    text-align: right;
  }
}

.Footer-Box1A {
  width: 100%;
  padding: 12px;
  border-bottom: solid 1px #5B616B;
}

.Footer-Box1B {
  width: 100%;
  padding: 12px;
}

.Footer-Logo_PNP {
  width: 200px;
}