/* ------HEADER------ */

.Header-Box1 {
  height: auto;
  padding: 25px;
  background-color: $color-prim;
}

.Header-Box2 {
  height: auto;
  padding: 8px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-blanco;
}

.Header-Logo_PNP {
  width: 140px;
  height: 40px;
}

.Header-Enlace1 {
  font-family: $fuente-primaria;
  color: #0091ea;
}