.container {
  width: 100%;
  padding-bottom: 24px;
}

.progressbar {
  counter-reset: step;

  li {
    list-style: none;
    display: inline-block;
    width: 16%;
    position: relative;
    text-align: center;

    &:before { //circulo-cuadro
      content: counter(step);
      counter-increment: step;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border: 2px solid #ddd;
      border-radius: 30%;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      background-color: #fff;
    }

    &:after { //linea
      content: "";
      position: absolute;
      width: 100%;
      height: 11px;
      background-color: #ddd;
      top: 11px;
      left: -50%;
      z-index: -1;
    }

    &:first-child:after {
      content: none;
    }

    &.preactive { //letra
      color: $color-verde;

      &:before { //circulo-cuadro
        border-color: $color-verde;
      }

      + li:after { //linea
        background-color: $color-verde;
      }
    }
    
    &.active { //letra
      color: $color-verde;
      font-weight: bold;
      text-decoration: underline;

      &:before { //circulo-cuadro
        box-shadow: inset 0 0 0 2px $color-verde;
        border-color: $color-verde;
      }

      + li:after { //linea
        background: linear-gradient(to right, $color-verde, #ddd 50%);
      }
    }
  }
}