$color-prim: #112d50;
// $color-prim: #12503c;
$color-secu: #0071bc;
$color-secu-claro: #168fdf;
$color-terc: #dce4ef;
$color-blanco: #ffffff;
$color-fondo: #f1f1f1;
// $color-borde: #dbdbdb;
$color-borde-1: #cccccc;
// $color-borde: #a7a9af;
$color-borde-2: #5b616b;

$color-verde: green;

$fuente-primaria: 'Source Sans Pro', sans-serif;
$fuente-secundaria: 'Merriweather';

$fuente-tamaño-1: 1.6rem;
$fuente-tamaño-2: 2.1rem;
$fuente-tamaño-3: 3.0rem;

$padding-1: 12px;
$padding-2: 24px;
$padding-boton: 11px 16px;