@import "./variables";
@import "./header";
@import "./footer";
@import "./progressbar";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}

body {
  display: grid;
  margin: 0px;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: auto 1fr auto;
  font-family: $fuente-primaria;
  font-size: 1.6rem;
  // background-color: $color-fondo;
}

main {
  display: table;
  height: auto;
  table-layout: fixed;
  position: relative;
  background-color: $color-fondo;
}

a {
  text-decoration: none;
}

.Bold {
  font-weight: bold;
}

.Padding-1 {
  padding: $padding-1;
}

.Padding-2 {
  padding: $padding-2
}

.align-self-center {
  align-self: center;
}

/* ------MAIN------ */


.contA {
  padding: 24px;

  &__contB {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 24px;
    background-color: $color-blanco;

    &__contTit {
      padding: 24px;
      text-align: center;
      font-family: $fuente-secundaria;
      color: $color-prim;

      &__titulo {
        font-size: $fuente-tamaño-3;
        font-weight: normal;
      }

      &__subtitulado {
        width: 80px;
        border-bottom: solid 1px #aeb0b5;
        margin: 0 auto;
        margin-top: 10px;
      }
    }

    &__contC {
      margin: 0 auto;
      max-width: 1400px;
      padding: 12px;
      border: 1px solid $color-borde-1;

      &__parrafo {
        padding: 15px 5px;
        font-weight: bold;
        text-align: justify;

        &.center {
          text-align: center;
        }
      }
    }

    &__contC2 {
      width: 100%;
      padding: 30px;
      display: table;
      table-layout: fixed;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      background-color: $color-terc;

      &__parrafo {
        margin: 20px 0px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        overflow: hidden;
        display: block;
        outline: none;
        font-size: 2.6rem;
        font-weight: lighter;
        text-align: center;
        text-decoration: none;
        color: $color-prim;
      }
    }
  }
}

.imgEscudo {
  min-width: 250px;
  width: 10%;
  outline: none;
  border: 0px;
  text-align: center;
}

.contenedorBotones{
  padding: $padding-1;
  // padding: 12px 12px 0px 12px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.boton{
  width: 100%;
  // max-width: 400px;
  max-width: 250px;
  padding: $padding-boton;
  margin: 2px;
  // margin-left: auto;
  // margin-right: auto;
  border-radius: 5px;
  border-style: none;
  background-color: $color-secu;
  color: $color-blanco;
  font-family: $fuente-primaria;
  font-size: $fuente-tamaño-1;
  font-weight: bold;
  cursor: pointer;
  // display: block;
  text-align: center;
  align-self: center;

  &:hover {
    background-color: $color-secu-claro;
  }

  &:disabled {
    background-color: #aeb0b5;
    // background-color: $color-fondo;
    cursor: auto;
  }

  &.B {
    background-color: #205493;
    max-width: 400px;
    height: 44px;
    margin: 30px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
  }
}

.Boton {
  width: 100%;
  max-width: 400px;
  padding: 11px 16px;
  margin: 5px 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-style: none;
  background-color: $color-secu;
  color: $color-blanco;
  font-family: $fuente-primaria;
  font-size: $fuente-tamaño-1;
  font-weight: bold;
  cursor: pointer;
  display: block;
  text-align: center;

  &:hover {
    background-color: $color-secu-claro;
  }

  &:disabled {
    background-color: #aeb0b5;
    // background-color: $color-fondo;
    cursor: auto;
  }

  &.B {
    background-color: #205493;
    max-width: 400px;
    height: 44px;
    margin: 30px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
  }
}

.Bx-11 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.Controls {
  padding: 10px;
  // border: 1px solid #5b616b;
  border: 1px solid $color-borde-2;
  border-radius: 4px;
  font-size: $fuente-tamaño-1;
  font-family: $fuente-primaria;

  &.B {
    grid-column-start: 2;
    grid-column-end: 5;
  }
}

.Label-1 {
  align-self: center;
}

.inputA {
  padding: 10px;
  border: 1px solid $color-borde-2;
  border-radius: 4px;
  font-size: $fuente-tamaño-1;
  font-family: $fuente-primaria;
  align-self: center;
}

//  ------ Terminos y Condiciones ----- //
.contPestañas {
  min-height: 350px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  &__cabeceras {
    overflow: hidden;

    &__pestaña {
      background-color: $color-secu;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: $padding-boton;
      transition: 0.3s;
      font-size: $fuente-tamaño-1;
      font-family: $fuente-primaria;
      color: $color-blanco;
      font-weight: bold;
      border-radius: 5px 5px 0px 0px;
      margin-right: 1px;

      &:hover {
        background-color: $color-secu-claro;
      }

      &.activo {
        background-color: $color-secu-claro;
      }
    }
  }

  &__contenido {
    display: none;
    padding: $padding-1;
    border: 1px solid $color-borde-1;
    background-color: $color-terc;
    border-radius: 0px 5px 5px 5px;

    p {
      text-align: justify;
    }
  }
}

.contCheck {
  padding: $padding-1;
  text-align: center;

  label {
    font-weight: bold;
  }
}

// ------- Validación de Datos ------- //
.contDatGen {
  // max-width: 1300px;
  // width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  // background-color: gainsboro;

  &__formA {
    padding: $padding-1;
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    column-gap: 50px;
    // display: flex;
    // flex-wrap: nowrap;
    // justify-content: space-between;
  
    &__contA{
      display: grid;
      grid-template-columns: 2fr 3fr;
      column-gap: 2px;
    }
  }

  &__mensaje {
    padding: $padding-1;
    text-align: center;
  }

  &__formB {
    max-width: 700px;
    margin: 0 auto;
    padding: $padding-1;
    display: grid;
    grid-template-columns: 1fr 200px;
    column-gap: 50px;

    &__contA{
      display: flex;
      flex-wrap: wrap;
      text-align: center;
    }
  }
}


// ------ Datos Domicilio ------ //
.contenedorDatosDomicilio {
  max-width: 1000px;
  margin: 0 auto;

  &__Grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 12px;
    row-gap: 10px;
  }
}

// ------ Datos Hecho ------- //
.contenedorDatosHecho {

  & h2 {
    border-radius: 15px;
    font-weight: normal;
    padding: 5px;
    text-align: center;
    font-size: $fuente-tamaño-2;
    background-color: $color-terc;
  }

  &__Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;
    padding: 12px;

    div {
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 5px;
    }
  }
}

.contenedorDocumentosPerdidos {

  &__Grid {
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
    column-gap: 20px;
    padding: 12px;

    & div {
      display: flex;
      flex-direction: column;

      & label {
        text-align: start;
      }
    }

    & button {
      font-size: 40px;
      height: 60px;
      width: 60px;
      margin: 0 auto;
      color: $color-secu;
      border: solid 1px $color-borde-1;
      // border-radius: 20px;
      // background-color: $color-terc;
      background-color: $color-blanco;
      // border-style: none;

      & i {
        margin-left: 5px;
      }
    }

    // background-color: $color-terc;
    // border-radius: 50px;
    // text-align: center;
  }

  &__Registr {
    padding: 12px;

    & h2 {
      padding: 5px;
      text-align: center;
    }

    &__Box {
      border: solid 1px $color-borde-1;
      padding: 10px;
      height: 200px;
      overflow: scroll;
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
      grid-auto-rows: 40px;
    }
  }
}

.contenedorVistaPrevia {

  &__Grid1 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    margin: 10px;
  }
}


//768
//450
//RESPONS8IVE DESIGN - MEDIA QUERIES

//MANEJARLO EN EL CSS LAS VALIDACIONES DE LOS CAMPOS


//CONSUMIR DESDE JS EL SERVICIO IPIFI USANDO JS